<section class="show">
  <div>
    <h3 class="main_style-h3"><%= record_info["record_name"] %></h3>
    <p class="main_style-p"><span class="black_text">Artist: </span><%= record_info["artist"] %></p>
    <p class="main_style-p"><span class="black_text">Release: </span><%= record_info["year_release"] %></p>
    <p class="main_style-p"><span class="black_text">Label: </span><%= record_info["label"] %></p>
    <!--<a href="/new" class="main_style-btn-edit">EDIT</a>-->
    <div class="display_row">
      <form action="/info/<%= record_info["id"] %>/edit" class="show_form">
        <input type="submit" name="Submit" value="EDIT" class="main_style-btn-input-rev">
      </form>
      <form action="/info/<%= record_info["id"] %>/delete" class="show_form" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="DELETE" class="main_style-btn-input-rev">
      </form>
      <form action="/info"></form>
      <a href="/records" class="back_btn"><img src="https://icon-library.com/images/arrow-icon-transparent-background/arrow-icon-transparent-background-19.jpg" alt="" class="arrow_back"></a>
    </div>
  </div>
  <aside>
    <img src="<%= record_info["artwork_url"] %>" alt="">
  </aside>
</section>